<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Cut</title>
</head>

<body>
    <h1>Cortá la url</h1>
    <form action="/" method="post">
        <div>
            <input type="text" name="longUrl" id="longUrl" placeholder="Ingresá la url">
            <button type="submit" value="Cortar">Cortar</button>
        </div>
    </form>
</body>

</html>